.subcontainer
{
margin-left:auto;
margin-right:auto;
position: relative;
top:4%;
overflow: hidden;
}
.center_table
{
margin-left:auto;
margin-right:auto;
margin-top:4%;
margin-bottom:10%;
}
.center_table,td
{
background : white;
}
.center_table, th, td {
border: 1px solid #DDD;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 8px;
padding-right: 8px;
}
.exam_form label

{
  font-weight: normal;
}

.exam_form

{
    padding-top: 5%;
    padding-bottom: 8%;
}
.statusMsg
{
  text-align: center;
  font-weight : bold;
}
.errorMsg
{
  text-align: center;
  color : red;
}

.exam_form button
{
  margin-left: 0%;
  width: 20%;
}

.data_table, th, td {
    border: 1px solid #DDD;
	    padding-top: 10px;
	padding-bottom: 10px;
		padding-left: 8px;
	padding-right: 8px;
}
.data_table th
{
	background : #286090;
	font-weight:normal;
  color: white;
}
.data_table
{
	margin-left:auto;
	margin-right:auto;
	margin-top:4%;
	margin-bottom:10%;
}
.exam_select
{
	width: 80%;
}
.noexamtxt
{
	text-align: center;
	margin-top: 10%;
	font-size: 1.2em;
}
.upload_header
{
	border:1px solid grey;
	text-align: center;
	font-size: 1em;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background: #B0E2FF;
	background : #6495ED;
	color:black;
	border-radius: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.upload_form input[type=file]
{
  width: 100%;
  border :1px solid #C0C0C0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2%;
  border-radius: 4px;
}
.upload_form label

{
  font-weight: bold;
}

.upload_form

{
    padding-top: 5%;
    padding-bottom: 8%;
}
.upload_form button
{
  margin-left: 40%;
  margin-top: 5%;
  width: 20%;
}
.report_header
{
	text-align: center;
	font-size: 1em;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	/*background: #B0E2FF;*/
	background : #6495ED;
	color : black;
	border-radius: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.help
{
	margin-top: 1%;
	font-size: 1.1em;
}
.report_table
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20%;
	margin-top: 5%;
}
.report_table, th, td {
    border: 1px solid #DDD;
	    padding-top: 10px;
	padding-bottom: 10px;
		padding-left: 8px;
	padding-right: 8px;
}
.report_table th
{
	
	background : #286090;
	font-weight:normal;
  	color: white;
  	
}
.home_header
{
	background: #286090;
	color:white;
}
.scrollable_table
{
	overflow:scroll;
    
}
.report_panel_name
{
	font-weight:bold;
}
.chart_legend
{
	border:1px solid grey;
	width:25%;
	background: #F4F4F4;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	padding: 0;
}
.chart_legend_list
{	
	list-style-type:none;
	width: 70%;
	margin-left: 15%;
	padding: 0;
	margin-top: 5%;

}
.chart_legend_list li
{	
margin-left: 5%; 
padding-bottom: 5%;

}
.chart_legend_list li div
{
	width:15px;
	height:15px;
	float:left;
	margin-top: 1%;
}
select[disabled] {
    color: #DCDAD1;
    
}
